.custom-grid1{
    display: grid;
    grid-template-columns: 75% 23%;
    gap: 2%;
}
.custom-grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
}